/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  background:#f4f4f4;
  margin: 0px;
}

.mat-toolbar{
  background: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.07), 0 6px 10px 0 rgba(0, 0, 0, 0), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.mat-toolbar-row{
  padding: 0px;
}

.page{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title{
  font-size: 1,5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
}
.center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
